# Only recovery should be doing writes to /system
allow ueventd oemfs:blk_file { create };
allow init system_file:file { write };

#allow init yamaha537fusiond_exec:file { execute_no_trans };
allow fingerprintd goodixfingerprintd_lib_file:file { execute };
allow bootanim mobicore_lib_file:file { execute };

# init can do every things(
allow init system_file:file { create setattr unlink rename link getattr open write read };

allow goodixfingerprintd  system_file:file { entrypoint };

allow keystore mobicore_lib_file:file  { execute };
allow gatekeeperd mobicore_lib_file:file  { execute };
allow mobicore system_file:file  { entrypoint };
