allow keystore mobicore:unix_stream_socket { connectto read write };
allow keystore mobicore_user_device:chr_file { read write open ioctl};
allow keystore app_data_file:file write;
allow keystore mobicore_lib_file:file { open read getattr };
allow keystore init:unix_stream_socket { connectto write read };
