allow nfc nfc_socket:dir { write remove_name add_name search };
allow nfc nfc_socket:sock_file { write create setattr unlink };
allow nfc custom_file:dir getattr;
allow nfc mt6605_device:chr_file { read write getattr open ioctl };
allow nfc nfc_data_file:dir { write remove_name add_name search create setattr };
allow nfc nfc_data_file:file { read getattr open rename write ioctl setattr create unlink };
allow nfc sdcard_internal:dir { write remove_name search create add_name };
allow nfc sdcard_internal:file { read write getattr open rename create };
allow nfc sdcard_external:dir { write add_name search };
allow nfc sdcard_external:file { read write getattr open create };
allow nfc surfaceflinger:dir search;
allow nfc surfaceflinger:file { read getattr open };
allow nfc node:tcp_socket node_bind;
allow nfc port:tcp_socket name_bind;
allow nfc self:tcp_socket { setopt read bind create accept write getattr connect getopt listen };
allow nfc zygote:unix_stream_socket { getopt getattr };
allow nfc init:unix_stream_socket { write read setopt };
allow nfc platform_app_tmpfs:file write;
allow nfc surfaceflinger:fifo_file {read write};
allow drmserver nfc:dir search;
allow nfc program_binary_service:service_manager find;
